html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    display:flex;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    width: 100%;
}

.boxes {
    border:2px solid black;
    aspect-ratio: 1/1; /* esto hace que el width y el height sean del mismo tamano, 
    uno dependera del otro */
}

button {
    width: 90%;
    height: 60px;
    color:white;
    background-color: black;
}